@tailwind base;

@tailwind components;

.nav-btn {
  @apply text-base;
  @apply font-bold;
  @apply uppercase;
  @apply tracking-tight;
}

.nav-btn--subscribe {
  @apply ml-5;
  @apply pl-4;
  @apply pr-2;
  @apply py-2;
  @apply bg-yellow-500;
  @apply text-black;
  @apply rounded-full;
}

/* Small (sm) */
@media (max-width: 640px) {
  .nav-btn {
    @apply text-sm;
  }
  .nav-btn--subscribe {
    @apply ml-3;
    @apply pl-2;
    @apply pr-1;
    @apply py-1;
    @apply bg-yellow-500;
    @apply text-black;
    @apply rounded-full;
  }
}

.hamburger-icon {
  @apply ml-3;
  width: 40px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  cursor: pointer;
}

.hamburger-icon span {
  @apply bg-gray-300;
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.hamburger-icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.hamburger-icon span:nth-child(2) {
  top: 9px;
  transform-origin: left center;
}

.hamburger-icon span:nth-child(3) {
  top: 18px;
  transform-origin: left center;
}

.hamburger-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.hamburger-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 25px;
  left: 8px;
}

.sidedrawer {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.5s ease 0s;
}

.sidedrawer--closed {
  transform: translate3d(100%, 0px, 0px);
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.news-grid__sticky-col-1 {
  position: sticky;
  top: '-150%';
}

.news-grid__sticky-col-3 {
  position: sticky;
  top: '-20%';
}

/* Medium device breakpoint */
@media (max-width: 768px) {
  .news-grid {
    grid-template-columns: 1fr;
    margin-top: 70px;
  }
  .news-grid__sticky-col-1 {
    position: static;
  }
  .news-grid__sticky-col-3 {
    position: static;
  }
}

@tailwind utilities;
